*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #ccc;
  border: none;
  padding: 8px 4px;
  border-radius: 5px;
  margin-top: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: rgb(116, 116, 116);
  color: white;
}
